--- 
- name: Copy Deployment Folder from ControlNode to leader
  ansible.builtin.copy:
    src: "/home/ubuntu/k3s-project/k8s"
    dest: "/home/ubuntu/"
    mode: '0600'

- name: Deploy  Nginx HA Deployment
  ansible.builtin.command:
    cmd: "/usr/local/bin/kubectl --kubeconfig=/etc/rancher/k3s/k3s.yaml apply -f /home/ubuntu/k8s/nginxDeploy.yaml"
  register: deploy_output
  changed_when: false

- name: Display kubectl output
  ansible.builtin.debug:
    var: deploy_output.stdout_lines
  run_once: true
  delegate_to: localhost

- name: Verify HA app Deployment with kubectl
  ansible.builtin.command:
    cmd: "/usr/local/bin/kubectl --kubeconfig=/etc/rancher/k3s/k3s.yaml get pods"
  register: pods_output
  changed_when: false

- name: Display kubectl output
  ansible.builtin.debug:
    var: pods_output.stdout_lines
  run_once: true
  delegate_to: localhost

- name: Verify Deployment Service with kubectl
  ansible.builtin.command:
    cmd: "/usr/local/bin/kubectl --kubeconfig=/etc/rancher/k3s/k3s.yaml get svc"
  register: svc_output
  changed_when: false

- name: Display kubectl output
  ansible.builtin.debug:
    var: svc_output.stdout_lines
  run_once: true
  delegate_to: localhost